<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>youtube-kadai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>865F6FAE1F89B38D00C96340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>865F6FC21F89B38E00C96340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>865F6FCD1F89B38E00C96340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
